﻿@import "globals.scss";

/* 
INCLUDES 
**********************************************************************************

1.0 - Common
 ---- 1.0.1 - Header
 ---- 1.0.2 - Footer

1.1 - Homepage
 ---- 1.1.1 - Specific Component 1
 ---- 1.1.2 - Specific Component 2

*/



/* -----------------------------------------------------------------------------
1.0 Common
----------------------------------------------------------------------------- */

/* 1.0.1 - Header */
@import "includes/common/header";
/* 1.0.2 - Footer */
@import "includes/common/footer";


/* -----------------------------------------------------------------------------
1.1 Homepage
----------------------------------------------------------------------------- */

/* 1.1.1 - Specific Component 1 */
//@import "includes/home/component-1";
/* 1.1.2 - Specific Component 2 */
//@import "includes/home/component-1";
