﻿@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

// BREAKPOINTS (Media Queries) =============================================== *
$breakpoints: (
  'small'  : 767px,
  'medium' : 991px,
  'large'  : 1199px
);

// COLORS =============================================== *
$white: #ffffff;
$light-grey: #D7DBDB;
$grey: #666D70;
$dark-grey: #4E565A;
$black: #404041;
$tan: #EAEBD7;
$olive: #949763;
$green: #949736;
$purple: #771b61;
$dark-blue: #003156;
$light-blue: #137ecb;